* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-family: 'Cousine';
	font-weight: 400;
	color: black;
}

#splash {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
}

#splash .logo {
	position: relative;
	float: left;
	z-index: 12;
}

#splashgif {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.logo {
	float: left;
	z-index: 1;
	padding-top: 58px;
	padding-left:125px;
	width: 250px;
	height: auto;
}

#contactst {
	position: absolute;
	z-index: 2;
	width: 290px;
	height: 580px;
	top: 35%;
	left: 18%;
	
}

#contactlink {
	top: 5%;
	right: 5%;
	z-index: 1;
	position: absolute;
	font-size: 19px;
	text-align: left;
}

#ccbg {
	display: block;
	position: absolute;
	width: 290px;
	height: auto;
}

#information {
	position: absolute;
	display: block;
	z-index: 2;
	margin-left: 20px;
	font-family: 'Cousine';
	font-weight: 400;
	color: black;
	font-size: 17px;
}

#information ul {
	list-style-type: none;
	padding-top: 280px;
}

#aboutmest {
	position: absolute;
	z-index: 2;
	width: 515.1px;
	height: 290px;
	top: -200px;
	left: 200%;
}

#aboutmelink {
	top: 4%;
	right: 5%;
	z-index: 1;
	position: absolute;
	font-size: 19px;
	text-align: left;
}

#ambg {
	display: block;
	position: absolute;
	width: 515.1px;
	height: auto;
}

#aminformation {
	position: relative;
	display: block;
	z-index: 2;
	margin-left: 20px;
	font-family: 'Cousine';
	font-weight: 400;
	color: black;
	font-size: 15px;
}

#aminformation ul {
	list-style-type: none;
	padding-top: 75px;
	padding-right: 25px;
}

#UC {
	position: absolute;
	direction: block;
	top: 70%;
	left: 300%;
	z-index: 1;
}

p {
	font-size: 100%;
	text-align: center;
	font-family: 'Cousine';
	font-weight: 400;
	color: black;
}