* {
	margin: 0;
	padding: 0;
}

.logo {
	z-index: 5
	position: relative;
	margin: 25px;
	padding: 25px;
	z-index: 1;
}

.container {
	z-index: -1;
	position: absolute;
	top: 20px;
	left: 20px;
}

#doit {
	z-index: -2;
	background-image: url('images/redcrop-untitled-1.gif');
	width: 800px;
	height: auto;
}

#swap1 {
	width: 800px;
	height: auto;
}


#swap1:hover {
	opacity: 0;
}